.home-item {
  width: 150px;
  height: 270px;
  cursor: pointer;
  display: inline-block;
  margin-right: 40px;
  text-align: center;
}
.home-item .overlay {
  position: relative;
  height: 80%;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-item img {
  position: absolute;
}
.home-item h2 {
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
}
