.Footer-Container {
  position: relative;
}

.Footer{
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 38vh;
  background-color: #1e1e1e;
  color: white;
}

.Footer-Links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  padding-top: 40px;
  margin: 40px 0 0 80px;
}

.Footer-Copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 300;
  margin: 20px 0 0 80px;
  color: rgb(198, 198, 198);
}


.Footer-Logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 80px 40px 80px;
}

.Facebook {
  height: 30px;
  margin-right: 30px;
}

.Twitter {
  height: 30px;
  margin-right: 30px;
}

.Instagram {
  height: 30px;
}

.AppStore {
  height: 40px;
  margin-right: 50px;
}

.PlayStore {
  height: 40px;
  margin-right: 50px;
}

.WindowsStore {
  height: 40px;
}