.wrapper {
  padding: 30px 50px 0 0;
  width: 92%;
  margin-left: auto;
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 30px;
    text-align: center;
    width: 100%;
    justify-content: center;
  }
}
